.app.light {
  --bg-color: #f3efef;
  --inverted--bg-color: #1d1d1d;
  --primary-color: #000;
  --secondary-color: #262525;
  --inverted--primary-color: #cbcaca;
  --inverted--secondary-color: #ece8e8;
}
