.NavBar {
  background: var(--inverted--bg-color);
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.links {
  margin-left: auto;
  display: flex;
  gap: 4px;
}

.red {
  color: red;
}
